.model-dashboard-settings {
	position: absolute;
	right: 0;
	display: inline-block;
	z-index: 10;
	padding: 5px 10px;
	border-radius: 10px;
	border: solid #ccc 1px;
	background: #fff;
	opacity: 0.6;
	transition: all 0.3s ease;
}

.model-dashboard-settings:hover {
	opacity: 1;
}

.model-dashboard-settings a:link, .model-dashboard a.card-body:link, .model-dashboard a.card-body:visited {
	color: #333;
}

.model-dashboard a.card-body:hover {
	background: #f8fdff;
}

.model-dashboard .highcharts-credits {
	pointer-events: none !important;
	touch-action: none !important;
}

.model-dashboard .table tbody tr:hover td {
	background-color: #F9F9F9 !important;
	cursor: pointer;
}
