.model-dashboard-settings {
	position: absolute;
	right: 0;
	display: inline-block;
	z-index: 110;
	padding: 5px 10px;
	border-radius: 10px;
	border: solid #ccc 1px;
	background: #fff;
	opacity: 0.6;
	transition: all 0.5s ease;
}

.model-dashboard-settings:hover {
	opacity: 1;
}

.model-dashboard-settings a:link {
	color: #555;
	margin: 0 5px;
}

.model-dashboard-settings a:hover {
	color: #000;
}

.model-dashboard a.card-body:link, .model-dashboard a.card-body:visited {
	color: #333;
}

.model-dashboard a.card-body:hover {
	background: #f8fdff;
}

.model-dashboard .highcharts-credits {
	pointer-events: none !important;
	touch-action: none !important;
}

.model-dashboard .table tbody tr:hover td {
	background-color: #F9F9F9 !important;
	cursor: pointer;
}

.model-dashboard .fa-arrows-alt-v, .model-dashboard .fa-arrows-alt-h, .model-dashboard .fa-trash {
	position: absolute;
	z-index: 100;
	font-size: 20px;
	cursor: move;
}

.model-dashboard .fa-arrows-alt-v {
	top: 0;
	left: 10px;
}

.model-dashboard .fa-arrows-alt-h {
	top: 20px;
	left: -3px;
}

.model-dashboard .fa-trash {
	top: -7px;
	right: -6px;
	cursor: pointer;
}

.dashboard-edit-links a:link, .dashboard-edit-links a:visited {
	display: block;
	padding: 10px 0;
	text-align: center;
	color: #71af71;
	border: solid #71af71 1px;
	transition: all 0.3s ease;
	border-radius: 3px;
}

.dashboard-edit-links a:hover{
	background: #71af71;
	color: #fff;
}

.dashboard-edit-links a.dashboard-delete-link:link, .dashboard-edit-links a.dashboard-delete-link:visited {
	color: #A50000;
	border: solid #A50000 1px;
}

.dashboard-edit-links a.dashboard-delete-link:hover{
	background: #A50000;
	color: #fff;
}
